@font-face {
	font-family: 'fontde6d50a369b26a4030db6823a4f28c71';
	src: url('http://nomail.com.ua/files/eot/de6d50a369b26a4030db6823a4f28c71.eot?#iefix') format('embedded-opentype'),
	url('http://nomail.com.ua/files/woff/de6d50a369b26a4030db6823a4f28c71.woff') format('woff'),
	url('http://nomail.com.ua/files/woff2/de6d50a369b26a4030db6823a4f28c71.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto-black';
	src: url("../fonts/roboto-black-webfont.eot");
	src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/roboto-black-webfont.woff2") format("woff2"),
	url("../fonts/roboto-black-webfont.woff") format("woff"),
	url("../fonts/roboto-black-webfont.ttf") format("truetype"),
	url("../fonts/roboto-black-webfont.svg#roboto-black") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto-light';
	src: url("../fonts/roboto-light-webfont.eot");
	src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/roboto-light-webfont.woff2") format("woff2"),
	url("../fonts/roboto-light-webfont.woff") format("woff"),
	url("../fonts/roboto-light-webfont.ttf") format("truetype"),
	url("../fonts/roboto-light-webfont.svg#roboto-light") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face { 
	font-family: 'Bringin';
	src: local('Bringin'),
	url('http://nomail.com.ua/files/woff/de6d50a369b26a4030db6823a4f28c71.woff') format('woff');
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}

#wrraper {
	width: 100%;
	margin: 0;
}

/*HEADER*/
header {
	margin: auto;
	padding: 1px;
	background: url('../images/big-img-1.jpg') no-repeat;
	background-size: cover;
}

.head-line {
	background: rgba(210, 220, 223, 0.4);
}

.head {
	width: 65%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.logo {
	margin: 25px;
	align-items: stretch;
}
.logo a {
	color: #36aeea;
	font: 29px "bringin";
	text-decoration: none;
	border-bottom: none;
}
.logo span {
	color: #a5b4bb;
}

.logo a:hover {
	color: #5dbeee;
}

.logo span:hover {
	color: #b6c3c8;
}

ul, .nav-btn {
	display: flex;
}

li {
	list-style-type: none;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	font:14px 'Open Sans';
	font-weight: bold;
	padding: 10px;
	color: #a5b4bb;
}

nav a:hover {
	padding: 10px 10px 8px 10px;
	border-bottom: solid 2px #36aeea;
}









.nav-btn {
	color: #36aeea;
	margin-left: 240px;
	padding: 10px 35px;
	background: none;
	text-transform: uppercase;
	border: 3px solid #36aeea;
	border-radius: 4px;
}

.nav-btn:hover {
	color: #fff;
	background: #36aeea;
}

.header {
	width: 65%;
	margin: 130px auto 150px;
	padding: 40px;
	border: solid 3px #fff;
}

.header h1 {
	color: #fff;
	margin: 0;
	letter-spacing: 4px;
	text-transform: uppercase;
	font: 50px "Open Sans";
	font-weight: bold;
}

.header span {
	color: #56c7ff;
	margin: -47px 0 0;
	display: block;
	font: 66px "bringin";
}

p {
	color: #c4ccd2;
	font: 18px "Open Sans";
}

.header-btn {
	padding: 25px 80px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	background: #36aeea;
	border: none;
	border-radius: 3px;
}

.header-btn:hover {
	color: #36aeea;
	background: none;
	padding: 22px 77px;
	border: 3px solid #36aeea;
	border-radius: 4px;
}

/*ARTICLE*/
article {
	margin: auto;	
}

/*ABOUT*/
#about-bg {
	background: #f6f4f4;
	padding: 25px 0 110px;
}

.about {
	width: 65%;
	margin: 0 450px;
	position: relative;
	background: url('../images/smart-object-img.png') no-repeat;
}
.about h2 {
	margin: 0;
	font: 20px "Open Sans";
	font-weight: bold;
}

.about p {
	line-height: 1.5;
	color: #777777;
	font: 14px "Open Sans";
}

.main-about {
	width: 385px;
	top: 220px;
	left: -100px;
	position: relative;
	padding: 10px;
}

.about-btn {
	padding: 10px 25px;
	color: #fff;
	text-transform: uppercase;
	background: #36aeea;
	border: none;
	border-radius: 3px;
}
.about-btn:hover {
	color: #36aeea;
	background: none;
	padding: 7px 22px;
	border: 3px solid #36aeea;
	border-radius: 4px;
}

.img-1 {
	float: right;
	margin: -240px -70px;
}

.img-2 {
	top: 75px;
	position: relative;
	left: 33%;
}

/*JOURNAL*/
#journal-bg {
	background: #fff;
	text-align: center;
}

.journal {
	width: 65%;
	padding: 50px 0;
	margin: auto;
}

.journal h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font: 30px "Open Sans";
	font-weight: bold;
}

.journal .posts {
	margin: 50px auto;
	display: inline-flex;
	overflow: hidden;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	-webkit-box-shadow: 2px 3px 20px 1px rgba(0,0,0,0.32);
	-moz-box-shadow: 2px 3px 20px 1px rgba(0,0,0,0.32);
	box-shadow: 2px 3px 20px 1px rgba(0,0,0,0.32);
}

.post-1 {
	position: relative;
}

.post-2 {
	position: relative;
}

.post-3 {
	position: relative;
}

.post-1 img {
	display: block;
}

.post-2 img {
	display: block;
	margin: 0 0 0 380px;
}

.post-3 img {
	display: block;
}

.post-text {
	width: 380px;
	height: 380px;
	top: 0;
	left: 380px;
	padding: 40px;
	position: absolute;
}

.post-text-2 {
	width: 380px;
	height: 380px;
	top: 0;
	padding: 40px;
	position: absolute;
}

.post-text-3 {
	width: 380px;
	height: 380px;
	padding: 40px;
	position: relative;
}

.post-text a, .post-text-2 a, .post-text-3 a {
	display: block;
	color: #8cd3f5;
	font: 14px "Open Sans";
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 0 40px;
}

.post-text h3, .post-text-2 h3, .post-text-3 h3 {
	font: 16.5px "Open Sans";
	letter-spacing: 1.2px;
	font-weight: bold;
	text-transform: uppercase;
}

.post-text-2 h3 {
	margin: 15px 5px;
}

.post-text-3 h3 {
	margin: 15px 50px;
}

del {
	text-decoration: line-through;
}

.post-text p, .post-text-2 p, .post-text-3 p {
	margin: 0 12px;
	font: 14px "Open Sans";
	color: #777777;
	line-height: 2;
}

.post-text em, .post-text-2 em {
	display: block;
	margin: 33px;
}

.post-text-3 em {
	display: block;
	margin: 60px 0 0;
}

.journal .post-text:before {
	content: '';
	border: 10px solid;
	position: absolute;
	top: 50px;
	left: -20px;
	border-color: transparent  #fff transparent transparent;
}

.journal .post-text-2:after {
	content: '';
	border: 10px solid;
	position: absolute;
	top: 50px;
	right: -20px;
	border-color: transparent transparent transparent #fff;
}

.journal .post-text-3:before {
	content: '';
	border: 10px solid;
	position: absolute;
	left: 55px;
	top: -20px;
	border-color: transparent transparent #fff transparent;
}

/*OFFER*/
.offer-bg {
	padding: 190px 0 275px;
	background: url('../images/big-img-2.jpg') no-repeat;
}

.offer {
	width: 65%;
	margin: auto;
}

.offer h2 {
	font: 20px "Open Sans";
	font-weight: bold;
}

.offer p {
	color: #a5b4bb;
	font: 16px "Open Sans";
}

.offer form {
	width: 65%;
}

.offer form input {
	width: 255px;
	padding: 20px 50px;
	margin: 4px 0;
	font-size: 16px;
	border: none;
}

.offer form button {
	width: 255px;
	color: #fff;
	padding: 20px 50px;
	background: #36aeea;
	border: none;
	font-size: 16px;
	margin-left: 0;
	border-radius: 5px;
}

.offer form button:hover {
	color: #36aeea;
	background: none;
	padding: 17px 47px;
	border: 3px solid #36aeea;
	border-radius: 4px;
}

/*WORK*/
#work-bg {
	padding: 110px 0 0;
}

.work {
	width: 65%;
	margin: auto;
	text-align: center;
}

.work h2 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: 30px "Open Sans";
	font-weight: bold;
}

.block-work {
	margin: 0;
	padding: 0;
	list-style: none;
}

.polygon {
	width: 25%;
	float: left;
	position: relative;
}

.polygon-box {
	width: 190px;
	margin: auto;
	position: relative;
}

.work .polygon-box h3 {
	margin: 70px;
	font: 16px "Open Sans";
	font-weight: bold;
	color: #36aeea;
	padding: 11px;
	border-radius: 50%;
	border: solid 3px #36aeea;
}
.polygon-box img {
	display: block;
	margin: 0 auto;
}

.box-content h4 {
	font: 18px "roboto-black";
	color: #2c2e37;
	margin: 30px auto 0;
}

.box-content p {
	font: 16px "roboto-light";
	color: #949494;
}

/*TRAVEL*/
#travel-bg {
	margin: 70px auto 0;
	padding: 20px 0 352px;
	text-align: center;
	background: url('../images/big-img-3.jpg') no-repeat;
}

.travel {
	width: 65%;
	margin: auto;
}

.travel h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font: 30px "Open Sans";
	font-weight: bold;
}

.flex-container {
	margin: 100px auto;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.flex-element {
	position: relative;
}

.flex-element a {
	text-decoration: none;
}

.flex-element ul {
	list-style: none;
	display: block;
	position: absolute;
	top: 15px;
	left: -15px;
}

.flex-element li {
	float: left;
	font-size: 18px;
	color: #fff;
	letter-spacing: 5px;
}

.contant-img {
	margin: -265px 15px;
	position: absolute;
}

.contant-img h3 {
	color: #fff;
	font: 28px "Open Sans";
	margin: 25px 0 30px;
}

.contant-img p {
	overflow: hidden;
}

.contant-img .span {
	color: #fff;
	display: inline-flex;
	margin: 65px auto 0;
}

.contant-img span {
	margin-right: 0;
	font: 14px "Open Sans";
	font-weight: bold;
}

.contant-img strong {
	margin-left: 85px;
}

/*GALLERY*/
#gallery-bg {
	text-align: center;
}

.gallery {
	width: 65%;
	margin: auto;
	padding: 60px 0;
}

.gallery h2 {
	margin: 20px auto;
	font: 30px "Open Sans";
	font-weight: bold;
	text-transform: uppercase;
}

.gallery .flex-container {
	width: 100%;
	padding: 35px 0;
	margin: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.gallery .flex-container-2 {
	width: 100%;
	padding: 35px 0;
	margin: auto;
	align-items: baseline;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.gallery .flex-item {
	margin: 10px;
}

.gallery .element-1, .gallery .element-4 {
	width: 263px;
}

.gallery .element-2 {
	width: 361px;
	overflow: hidden;
	height: 245px;
}

.gallery .element-5 {
	width: 361px;
	overflow: hidden;
	margin: -90px 10px 0;
	height: 380px;
}

.gallery .element-5 img {

}

.gallery .element-3, .gallery .element-6 {
	width: 457px;
}

/*LOGO*/
.logo-bg {
	background: #f8f9fa;
	padding: 90px 0 55px;
	text-align: center;
}

.logo-line {
	width: 65%;
	margin: auto;
}

.logo-line ul {
	margin: 0;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.logo-line li {
	line-height: 6;
}

.logo-line img {
	width: 85px;
}

.logo-line .adobe {
	width: 60px;
}

#reviews {
	padding: 2px 0;
	text-align: center;
	background: url('../images/big-img-4.jpg') no-repeat;
	margin: 0 auto 0;
}

.clients h2 {
	font: 30px "Open Sans";
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 50px 0;
}

.coments {
	width: 65%;
	margin: auto;
}

/*REVIEWS*/
.review {
	display: inline-block;
	width: 45%;
	position: relative;
	margin-right: 2rem;
	text-align: start;
}

.review i {
	font-size: 25px;
	color: #c4ccd2;
}

.review p {
	line-height: 1.8;
}

.review img {
	margin: 10px 0;
	border-radius: 50%;
}

.review span {
	margin: 35px 20px;
	position: absolute;
	color: #36aeea;
	font: 16px "Open Sans";
}

.review a {
	color: #59b7ea;
	text-decoration: none;
	font: 16px "Open Sans";
	font-weight: bold;
}

.review a:hover {
	color: #c4ccd2;
}

.coments .form {
	width: 510px;
	height: 495px;
	margin: 130px auto;
	padding: 40px 30px;
	border-radius: 6px;
	background: url('../images/bg-form.png') no-repeat;
}

.coments .form h3 {
	color: #36aeea;
	font: 36px "Open Sans";
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0;
}

.coments .form p {
	color: #000;
}

.form input {
	width: 425px;
	margin: 10px;
	padding: 20px 15px;
	border-radius: 3px;
	color: #cdcdcd;
	font-size: 16px;
	border: none;
}

.form button {
	width: 425px;
	color: #fff;
	padding: 20px 15px;
	border-radius: 3px;
	font: 16px "Open Sans";
	text-transform: uppercase;
	background: #36aeea;
	border: none;
	margin: 10px;
}

.form button:hover {
	color: #36aeea;
	background: none;
	padding: 18px 13px;
	border: solid 2px #fff;
}

/*FOOTER*/
footer {
	margin: auto;
	background: #3e5d67;
}

.footer {
	width: 65%;
	margin: auto;
	padding: 40px 0;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
}

.footer p {
	margin: 0;
	color: #75a3b3;
}

.footer i {
	color: #fff;
	font-size: 15px;
	padding: 6px;
}

.footer .fa-twitter {
	background: #29c5f6;
}

.footer .fa-facebook {
	padding: 6px 10px;
	background: #6788ce;
}

.footer .fa-vk {
	background: #54769a;
}

.footer span a {
	color: #7cc0d4;
	font: 27px "Open Sans";
	font-weight: bold;
	text-decoration: none;
}

.footer span {
	margin-right: 20px;
}



@media screen and (max-width: 1780px) {
	.head {
		width: 70%;
	}
	.nav-btn {
		margin-left: 220px;
	}
}

@media screen and (max-width: 1774px) {
	.travel {
		width: 80%;
	}
}

@media screen and (max-width: 1772px) {
	.head {
		width: 80%;
	}
	.nav-btn {
		margin-left: 220px;
	}
	.header {
		width: 80%;
		margin: 5% auto;
	}
	.about {
		width: 80%;
		margin: 0 10%;
	}
	.journal {
		width: 80%;
	}
	.main-about {
		left: 0;
	}
	.img-1 {
		width: 720px;
	}
	.offer-bg {
		padding: 150px 0;
	}
	.gallery {
		width: 80%;
	}
	.offer form {
		width: 100%;
	}
	.coments {
		width: 80%;
	}
	.logo-line {
		width: 80%;
	}
	.footer {
		width: 80%;
	}
}

@media screen and (max-width: 1734px) {
	.footer {
		padding: 33px 0;
	}
}

@media screen and (max-width: 1444px) {
	.journal {
		width: 95%;
	}
	.work {
		width: 80%;
	}
	.gallery {
		width: 95%;
		padding: 60px 0 0;
	}
}

@media screen and (max-width: 1425px) {
	.nav-btn {
		margin-left: 150px;
	}
	.journal {
		width: 95%;
	}
	.travel {
		width: 90%;
	}
}

@media screen and (max-width: 1337px) {
	.nav-btn {
		margin-left: 90px;
	}
	.img-1 {
		width: 635px;
	}
}

@media screen and (max-width: 1280px) {
	.nav-btn {
		margin-left: 50px;
	}
	.journal {
		width: 60%;
	}
	.post-3 {
		left: -190px;
	}
	.post-text-3 {
		width: 380px;
		height: 380px;
		top: 0;
		left: 380px;
		padding: 40px;
		position: absolute;
	}
	.journal .post-text-3:before {
		top: 50px;
		left: -20px;
		border-color: transparent #fff transparent transparent;
	}
	.work {
		width: 80%;
	}
	.travel-bg {
		padding: 20px 0 5px;
	}
}

@media screen and (max-width: 1225px) {

	.menu-container {
		font-family: "Open Sans", sans-serif;
		height: initial;
		position: fixed;
		top: 0;
		z-index: 999;
		background: #333;
		width: 200px;
		right: -200px;
		line-height: 75px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.menu-container.menu-open {
		right: 0px;
	}

	.toggle-menu {
		top: 20px;
		right: 0;
		margin: 0 20px;
		padding: 10px 10px;
		height: initial;
		position: absolute;
		cursor: pointer;
		padding: 15px;
		background: initial;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.toggle-menu .icon-bar {
		height: 3px;
		display: block;
		width: 30px;
		opacity: 1;
		background: #000;
		margin-bottom: 5px;
		-webkit-transition: all 0.8s ease-in-out;
		-moz-transition: all 0.8s ease-in-out;
		transition: all 0.8s ease-in-out;
	}

	.toggle-menu.active {
		right: 200px;
	} 

	.toggle-menu .icon-bar:last-child {
		margin-bottom: 0;
	}
	.toggle-menu .icon-bar.hide-closed {
		transition-duration: 0.4s;
	}
	.toggle-menu.active {
		padding-top: 18px; 
		height:40px;
	}
	.toggle-menu.active .icon-bar {
		margin-bottom: -3px;
	}
	.toggle-menu.active .skew-clock {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.toggle-menu.active .hide-closed {
		opacity: 0 !important;
	}
	.toggle-menu.active .skew-counter {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.menu {
		width: 100%;
		margin: 0 0 30px 0;
		padding: 0 20px;
		list-style: none;
	}
	.menu li {
		width: 100%;
		height: 50px;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		-o-transition: background-color 0.3s;
		-ms-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
	.menu li:hover,
	.menu li.active {
		background-color: rgba(0, 0, 0, 0.15);
	}
	.menu li a {
		display: block;
		color: #fff;
		text-transform: uppercase;
		font-size: 20px;
		text-decoration: none;
		padding-left: 30px;
	}
	.menu li a:hover {
		color: #bdbdbd;
		background: none;
	}
	.menu li .current-menu-item {
		color: #00bbeb;
	}

	ul,
	.nav-btn {
		display: block;
	}

	.header {
		width: 70%;
		padding: 25px;
	}
	.header h1 {
		font: 45px "Open Sans"
	}
	.header span {
		font: 60px "bringin";
	}
	.main-about {
		top: 0;
		padding: 10px 0 10px 135px;
	}
	.img-1 {
		width: 550px;
		margin: -215px -50px;
	}
	.img-2 {
		width: 200px;
	}
	.about p {
		color: #000;
	}
	.gallery {
		width: 75%;
	}
	.gallery .element-5 {
		margin: inherit;
	}
	.coments {
		width: 75%;
	}
	.travel {
		width: 65%;
	}
	#travel-bg {
		margin: 50% auto 0;
		padding: 20px 0 133px;
	}
}

@media screen and (max-width: 1205px) {
	.offer {
		width: 70%;
	}
}

@media screen and (max-width: 1121px) {
	.offer {
		width: 70%;
	}
	.offer form input {
		width: 300px;
		padding: 20px;
		margin: 4px 1px;
	}
	.offer form button {
		margin: 1% 29%;
	}
}

@media screen and (max-width: 1055px) {
	.review {
		width: 40%;
		margin-right: 0;
	}
	.coments {
		width: 100%;
	}
	#travel-bg {
		margin: 55% auto 0;
		padding: 20px 0 10px;
	}
}

@media screen and (max-width: 1005px) {
	.travel {
		width: 75%;
	}
	.work {
		width: 90%;
	}
	.work-bg {
		padding: 70px 0 0;
	}
	.journal {
		width: 75%;
	}
}

@media screen and (max-width: 950px) {
	.travel {
		width: 95%;
	}
	.journal {
		width: 82%;
	}
	.flex-container {
		margin: 50px auto;
	}
	.flex-element img {
		height: 270px;
	}
	.flex-element ul {
		left: -30px;
	}
	.contant-img {
		width: 125px;
		margin: -250px 0;
	}
	.contant-img h3 {
		font: 24px "Open Sans";
		margin: 20px 0;
	}
	.contant-img .span {
		margin: 50px auto 0;
	}
	.contant-img span {
		margin-left: 15px;
	}
	.contant-img strong {
		margin-left: 25px;
	}
}

@media screen and (max-width: 890px) {
	.offer-bg {
		padding: 50px 0;
	}
	.offer {
		width: 70%;
	}
	.offer form {
		width: 50%;
		margin: auto;
	}
	.offer form input {
		width: 300px;
		padding: 20px;
		margin: 4px 1px;
	}
	.offer form button {
		margin: auto;
		width: 300px;
		/*margin: 1% 29%;*/
	}
	.coments .form {
		width: 490px;
		height: 480px;
		margin: 60px auto;
		padding: 20px 23px;
	}
	.review {
		width: 50%;
	}
	.review p {
		line-height: 1;
		color: #2F4F4F;
	}
}

@media screen and (max-width: 888px) {
	.offer {
		width: 70%;
	}
}

@media screen and (max-width: 875px) {
	.travel {
		width: 85%;
	}
	.journal {
		width: 88%;
	}
	.post-1 {
		width: 0;
	}
	.post-text {
		width: 380px;
		height: 380px;
		padding: 40px;
		position: initial;
	}
	.journal .post-text:before {
		content: '';
		border: 10px solid;
		left: 55px;
		top: 360px;
		border-color: transparent transparent #fff transparent;
	}
	.post-2 {
		width: 0;
	}
	.post-2 img {
		margin: 0;
	}
	.post-text-2 {
		width: 380px;
		height: 380px;
		padding: 40px;
		margin: 380px 0 0;
	}
	.journal .post-text-2:before {
		content: '';
		border: 10px solid;
		left: 55px;
		position: absolute;
		top: -20px;
		border-color: transparent transparent #fff transparent;
	}
	.posts-xl {
		width: 100%;
	}
	.post-3 {
		margin: 380px 0 0;
		left: 0;
	}
	.post-text-3 {
		width: 380px;
		height: 380px;
		top: 0;
		left: 0;
		padding: 40px;
		position: initial;
	}
	.journal .post-text-3:before {
		content: '';
		border: 10px solid;
		left: 55px;
		top: 360px;
		border-color: transparent transparent #fff transparent;
	}
	.box-content {
		width: 95%;
		margin: auto;
	}
	.block-work {
		display: inline-block;
	}
	.polygon {
		width: 50%;
		float: left;
		position: relative;
	}
	#travel-bg {
		margin: 10% auto 0;
	}
}

@media screen and (max-width: 780px) {
	.travel {
		width: 100%;
	}
}

@media screen and (max-width: 720px) {
	.coments .form {
		margin: 20px auto;
		width: 440px;
		height: 460px;
	}
	.form input,
	.form button {
		width: 375px;
	}
}

@media screen and (max-width: 540px) {
	.nav-btn {
		display: none;
	}
	.header h1 {
		font: 30px "Open Sans";
	}
	.header span {
		font: 40px "bringin";
		margin: -20px 0 0;
	}
	.img-1 {
		width: 100%;
	}
	.img-2 {
		top: 10px;
	}
	.offer form {
		width: initial;
	}
	.polygon {
		width: 100%;
	}
	.review {
		width: 75%;
	}
	.gallery .element-3 img,
	.gallery .element-6 img {
		width: 100%;
	}
	.coments .form {
		width: 80%;
	}
	.offer form input,
	.offer form button {
		width: 100%;
	}
	.form input,
	.form button {
		width: 95%;
		padding: 15px;
	}
	.form button:hover {
		padding: 13px;
	}
}

@media screen and (max-width: 438px) {
	.head {
		position: fixed;
		width: 100%;
		z-index: 9999;
		background: #f0f3f6; 
	}
	.header {
		margin: 30% auto;
	}
	.header-btn {
		padding: 25px 50px;
		margin: auto;
		display: block;
	}
	.header-btn:hover {
		padding: 22px 47px;
	}
	.main-about {
		width: 90%;
		padding: initial;
	}
	.img-1 {
		margin: -205px -20px;
	}
	.img-2 {
		left: 15%;
	}
	.journal .posts {
		width: 90%;
	}
	.post-text {
		width: 341px;
		padding: 35px;
	}
	.post-text-2 {
		width: 335px;
	}
}

@media screen and (max-width: 320px) {
	.post-text,
	.post-text-2,
	.post-text-3 {
		height: 430px;
		width: 240px;
		padding: 10px;
	}
	.post-3 {
		left: 70px;
	}
	.review {
		width: 80%;
	}
	.form input,
	.form button {
		padding: 10px;
	}
	.form button:hover {
		padding: 8px;
	}
	.coments .form {
		height: 425px;
	}
}